<% content_for :breadcrumb do %>
  <li>
    <%= link_to 'ai-contester', :root %>
  </li>
  <li class="active">
    <%= @contest.name %>
  </li>
<% end %>

<%= simple_format(@contest.description).html_safe %>

<a target="_blank" href="<%= @contest.game_mechanic.url %>">
  <%= @contest.game_mechanic.url %>
</a>
<% if user_signed_in? %>
  <%= form_tag(create_strategy_path(contest_id: @contest.id), method: "post", multipart: true) do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="h2">
      Отправить стратегию
    </div>
    <div class="form-group">
      <label>
        Текстом
      </label>
      <textarea class="form-control" name="text"></textarea>
    </div>
    <div class="form-group">
      <label>
        Файлом
        <input class="form-control-file" type="file" name="file" />
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
  <% end %>

  <%= form_tag(create_game_session_path(contest_id: @contest.id), method: "post", multipart: true) do %>
    <button type="submit" class="btn btn-primary">Создать игровую сессию</button>
  <% end %>
<% end %>
