<% content_for :breadcrumb do %>
  <li class="active">
    ai-contester
  </li>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    Активные соревнования
  </div>
  <div class="list-group">
    <% @contests.each do |contest| %>
      <div class="list-group-item">
        <h3>
          <%= contest.name %>
          <br/>
          <small><%= simple_format(contest.description).html_safe %></small>
        </h3>
        <div class='text-right'>
          <%= link_to 'Присоединиться', contest, :class => 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
