<!DOCTYPE html>
<html>
  <head>
    <title>ContesterSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="page-header row">
        <div class="col-md-9">
          <h1>
            AI-Contester
            <br/>
            <small>Соревнования для программистов в игровом формате</small>
          </h1>
        </div>
        <div class="col-md-3">
          <% if user_signed_in? %>
            <div class="panel panel-info user_signed_in_panel">
              <div class="panel-heading">
                <%= current_user.email %>
              </div>
              <div class="list-group">
                <div class="list-group-item text-right">
                  <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, :class => 'btn btn-default' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

        <% if !user_signed_in? %>
          <div class="panel panel-warning row">
            <div class="panel-heading">
              Вы не вошли в систему.
              Войдите или зарегистрируйтесь, чтобы участвовать в соревнованиях.
            </div>
            <div class="panel-body">
              <%= link_to 'Вход', new_user_session_path %>
              /
              <%= link_to 'Регистрация', new_user_registration_path %>
            </div>
          </div>
        <% end %>
      <ol class="breadcrumb row">
        <%= yield :breadcrumb %>
      </ol>
      <div class=row>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
